/*----------------------GLOBAL CSS---------------------------------------*/
body{
    color: #2c2c2c;
    /*background: #e8e8e8;*/
}

.d-sm{
  display: none;
}

.d-md{
  display: inline-block;  
}


.hindi-text{
  line-height: 40px;
}
.btn-primary{
    background-color: #446eb6;
    border-color: #446eb6;
}

.btn-primary:hover {
    background-color: #568ae4;
    border-color: #568ae4;
}

.btn-primary:focus{
    background-color: #446eb6;
    border-color: #446eb6;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 0%) !important;
}

.btn:focus{
    outline: unset;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 0%) !important;
}

.btn-warning{
    background-color: #fda619;
    border-color: #fda619;
}


.btn-outline-primary{
    color: #446eb6;
    border-color: #446eb6;
}

.bg-color{
    background-color: #eeeeee;
}

.header{
    text-align: center;
    text-decoration: underline;
    background: #70c5a4;
    padding: 20px 0;
}

.modal-content{
    border: 0px;
}

.modal-content .modal-header{
    background-color: #446eb6;
    text-align: center;  
    margin-bottom: 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}

.modal-content .modal-header .modal-title{
    width: 100%;
}

.modal-content .modal-header .close{
    color: #ffffff;
}

.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 4%);
}

.modal-header button.close:focus{
    outline: transparent !important;
}

/*----------------------GLOBAL CSS ENDS---------------------------------------*/

/*-----------------------HEADER----------------------------------------------*/
.logo-link{
    /*width: 100%;
    display: block;
    text-align: center;*/
    z-index: -10;
}

.mobile-menu-icon {
    display: none;
}

.login-icon{
    display: none;
}

.bg-color{
   background-color: #ffffff;
}

.sm-input:focus{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 4%);
}

.srch-btn{
    border: 0;
    padding: 0;
    outline: unset;
}

.srch-btn .fa-search{
    font-size: 17px;
    padding: 3px;
}

.fa-language{
    font-size: 30px;
    vertical-align: middle;
    padding-right: 15px;
    color: #b5b5b5;
}

.fa-bell{
    font-size: 30px;
    vertical-align: middle;
    padding-right: 15px;
    color: #b5b5b5;
}

.sm-image{
    padding: 10px;
}

.input-group-text{
    background-color: #446eb6;
    color: #ffffff;
}

#livesearch{
    display: none;
    border: 1px solid rgb(212, 212, 212);
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
    background: #ffffff;
    line-height: 2;
    padding: 10px 10px 10px 30px;
}

#livesearch a{
    color: #000000;
}
.navbar-nav .nav-item .nav-link{
    color: #ffffff;
    padding: 5px 20px;
}

.custom-dropdwn{
    left: unset;
}

.navbar-menu a.nav-link.dropdown-toggle:hover{
    color: #ffffff;
}

.home-card{
    display: none;
}

/*-----------------------HEADER ENDS----------------------------------------------*/


/*-----------------------FOOTER---------------------------------------------------*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #e8e8e8;
}
/*-----------------------FOOTER ENDS----------------------------------------------*/


/*-----------------------EDIT----------------------------------------------*/
.privacy{
    font-weight: 600;
    position: absolute;
    right: 105px;
}

.edit-form{
    display: none;
  } 

.edit{
  cursor: pointer;
}
.edit-link{
  cursor: pointer;
  font-size: 18px;
}

.edit-input{
  transition: none;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 10px;
}

.privacy-setting{
    position: absolute;
    left: 280px;
    top: 21px;
    border: 0;
    /* display: block; */
    /* width: 100%; */
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.privacy-setting .dropdown-menu{
    top: -12px !important;
    left: -90px !important ;
}

.privacy-setting  ul.dropdown-menu li.dropdown-item{
    cursor: pointer;
}
/*-----------------------EDIT ENDS-----------------------------------------*/


/*-----------------------ABOUT US---------------------------------------------------*/
.about-us-banner{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*.about-us-bg{
    background: #eeeeee;
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 3px 8px 2px rgb(0 0 0 / 32%);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.69);
    margin-bottom: 30px;
}*/
/*-----------------------ABOUT US ENDS----------------------------------------------*/



/*-----------------------EVENT -------------------------------------------------*/
.event-name{
    position: absolute;
    bottom: 0;
    background: #70c5a4;
    width: 100%;
    padding: 10px 0 10px 10px;
    opacity: .9;
    font-weight: 500;
}

.content-limit p{
    margin-bottom:0;
  /*  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 7;
   -webkit-box-orient: vertical;*/
}

.content-container{
      -webkit-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.64);
    box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.64);
    margin-bottom: 50px;
}
/*-----------------------EVENT ENDS----------------------------------------------*/


/*-----------------------SCHEMES---------------------------------------------------*/
.schemes-bg{
    background: #eeeeee;
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 3px 8px 2px rgb(0 0 0 / 32%);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.69);
    margin-bottom: 30px;
}

.more{
    cursor: pointer;
    color: #007bff;
}
/*-----------------------SCHEMES ENDS----------------------------------------------*/


/*-----------------------ZONES---------------------------------------------------*/
.zones-bg{
    background: #eeeeee;
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 3px 8px 2px rgb(0 0 0 / 32%);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.69);
    margin-bottom: 30px;
}

.zones-bg .custom-card{
    -webkit-box-shadow: 1px 2px 5px 2px rgba(210 210 210);
    -moz-box-shadow: 1px 2px 5px 2px rgba(210 210 210);
    box-shadow: 1px 2px 5px 2px rgb(210 210 210);
}

.zones-bg .custom-card:hover {
    transition: .5s ease;
    -webkit-box-shadow: 0px 5px 5px 3px rgba(210 210 210);
    -moz-box-shadow: 0px 5px 5px 3px rgba(210 210 210);
    box-shadow: 0px 5px 5px 3px rgba(210 210 210);
}

.zones-bg .profile-img{
    height: 140px;
    object-fit: cover;
}
/*-----------------------ZONES ENDS----------------------------------------------*/

/*-----------------------GALLERY---------------------------------------------------*/
.gallery img{
 -webkit-box-shadow: -1px 10px 43px -6px rgba(0,0,0,1);
-moz-box-shadow: -1px 10px 43px -6px rgba(0,0,0,1);
box-shadow: -1px 10px 43px -6px rgba(0,0,0,1);
}

/*.image-modal{
    position: absolute;
}*/
/*-----------------------GALLERY ENDS----------------------------------------------*/


/*-------------CAROUSEL WITH THYUMBNAIL----------------------*/
.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.carousel-container .carousel-control-prev .fas{
    font-size: 30px;
    font-size: 30px;
    background: #446eb6;
    padding: 6px 10px 10px 6px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}*/

/*.carousel-container .carousel-control-next .fas{
    font-size: 30px;
    font-size: 30px;
    background: #446eb6;
    padding: 6px 10px 10px 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}*/

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
}

#custCarousel .carousel-indicators>li {
    width: 100%;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}
#loadergif{    text-align: center;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100%;
    left: 0;
    z-index: 9999999;
    background: #ffffff82;
    padding: 15%;}
/*-------------CAROUSEL WITH THYUMBNAIL ENDS----------------------*/

/*-------------NAVBAR MENU----------------------*/
.navbar-menu{
    background: #3eb8e9;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
}

/*-------------NAVBAR MENU NEDS----------------------*/


/*-------------LOGIN POPUP----------------------*/

.loginPopup .otp-label{
    width: 90px;
    font-size: 10px;
    margin-right: 40px;
}

.loginContent .modal-body a.help-link{
    color: #007bff;
}

.loginContent .modal-body a.signup-link{
    font-size: 1rem;
}

/*-------------LOGIN POPUP ENDS----------------------*/

/*-------------LOGIN HELP----------------------*/
.login-help{
    text-align: left;
}
/*-------------LOGIN HELP ENDS----------------------*/


/*-----------------------------SIGNUP SECTION----------------------*/

/*-------------------form------------------------*/
#regForm input.invalid {
  background-color: #ffdddd;
}
#regForm select.invalid {
    background-color: #ffdddd;
  }
  #regForm textarea.invalid {
    background-color: #ffdddd;
  }

#regForm .tab {
  display: none;
}

#regForm #prevBtn {
  background-color: #bbbbbb;
}

.form-steps .step {
  /*background-color: #5c99ff;*/
  padding: 15px 5px 15px 10px;
}

.form-steps .step.active {
  background-color: #5c99ff;
}


/*-------------------form ends------------------------*/
.pic-wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid;
    z-index: 0;
}

.pic-wrapper .profile-pic{
    width: 200px;
    height: 200px;
    opacity: 0;
    cursor: pointer;

}
.search-output{text-decoration: none!important;}
.pic-wrapper .add-icon{
    position: absolute;
    bottom: -12px;
    left: 160px;
    font-size: 50px;
    z-index: 2;
}

.policy{
    margin-top: 13px;
}

.policy input{
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 13px;
}


/*-------------------------------SIGNUP SECTION ENDS----------------------*/

/*-------------USER DETAIL----------------------------------------------*/
.user-img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.tab-bar{
    background: #3eb8e9;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    margin-top: 10px;
}

.tab-bar .nav-tabs{
    border: none;
}

.tab-bar .nav-tabs .active{
    background-color: #fda619;
    border-color: transparent;
}

.tab-bar .nav-tabs .nav-item{
    position: relative;
}

.tab-bar .nav-tabs .active .triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fda619;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: -20px;
}

.tab-bar .nav-tabs .nav-link{
    color: #000000;
}

.tab-bar .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.user-container{
    background-color: #446eb6;
    background-image: linear-gradient(#446eb6, #3eb8e9);
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.user-details h5{
    margin-bottom: 16px;
}

.user-details h3{
    text-decoration: underline;
}

.user-details h5 strong{
    float: right;
}

.more-info{
    display: none;
}

.death-add{
    background-color: #b8bbb8;
    border: none;
}

.mobile-code{
    line-height: 5px;
    background-color: #eeeeee;
    padding: 5px 0 5px 5px;
}

/*-------------USER DETAIL ENDS----------------------------------------------*/

/*--------------------------USER PROFILE--------------------------------------*/
.user-tab .nav-tabs {
     border-bottom: unset;
}

.user-tab .nav {
    display: block;
    padding-left: 0;
    margin-bottom: unset; 
    list-style: none;
}

.user-tab .nav-tabs .nav-link.active{
    color: #ffffff;
    background-color: #5c99ff;
    border-color: unset;
}

.user-tab .nav-tabs a{
    color: #000000;
}

.user-profile strong{
     float: right;
}

.user-profile{
    line-height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.user-profile .info> div:nth-of-type(odd) {
    /*text-transform: uppercase;*/
    font-weight: 500;
    font-size: 15px;
}
/*------------------------USER PROFILE ENDS------------------------------------*/

/*------------------------SAVED PROFILE------------------------------------*/
.user-list-img{
    width: 90px;
    height: 90px;
    vertical-align: bottom;
    position: static;
    object-fit: cover;
}

.user-list-box{
    width: 400px;
    padding: 10px;
    border: 1px solid #b7b7b7;
    margin: 20px;
    position: relative;
    background-color:#ffffff; 
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.user-list-box a{
    color: #2c2c2c;
}

.user-list ul li p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.user-list-box .fa-heart{ 
    font-size: 30px;
    padding: 0 20px;
    color: #e83a3a;
    position: absolute;
    top: 21px;
}

.user-list-box .fa-trash-alt{
    position: absolute;
    /* top: 22px; */
    right: 15px;
    font-size: 25px;
    bottom: 12px;
}
/*------------------------SAVED PROFILE ENDS------------------------------------*/


/*------------------------FAMILY TREE------------------------------------*/

.d-form{
    display: block;
}

.d-none-form{
    display: none;
}

.d-none-new-form{
    display: none;
}

.add-member-icon{
    font-size: 25px;
    padding-top: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 23px;
    right: 30px;
}

.death-flag{
  position: absolute;
    top: 0;
    right: 18px;
    color: #dc3545;
}

.user-list{
  max-height: 400px;
    overflow: auto;
}
.tree-card{
      -webkit-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.65);
    -moz-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.65);
    box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.65);
}

.tree-card .card-body{
    padding: 12px;
}

.tree-card .family-info{
    width: 150px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0px;
}

.list-height{
  height: 450px;
    overflow-y: scroll;
}

.tree-srch-list{
    height: 350px;
    overflow-y: scroll;
    padding-top: 5px;
    display: block;
}

.list-card{
    min-height: 1px;
    padding: 1.25rem;
    -webkit-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.65);
    -moz-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.65);
    box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.65);
    margin-bottom: 5px;
}

.tree-user-img{
    width: 80px;
    height: 60px;
    vertical-align: bottom;
    position: static;
    object-fit: cover;
}

.family-profile-img{
    vertical-align: top;
    width: 100px;
     height: 90px;
    object-fit: cover;
}

/*------------------------FAMILY TREE ENDS------------------------------------*/

/*------------------------MODEL------------------------------------*/
.points, .forgot-credential{
    cursor: pointer;
    padding-left: 5px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #5fa78b !important;
}

.points:hover{
    font-weight: 600;
}

.forgot-credential:hover{
    font-weight: 600;
}

.member-id, .email-id, .update-number, .forgot-login{
    display:none;
}

/*.forgot-login{
    display:none;
}*/
/*------------------------MODEL ENDS------------------------------------*/






/*---------------------------------------------ADMIN CSS----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

/*---------------------LOGIN PAGE---------------------------------*/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
        body.login-body {
  background: linear-gradient(to right, #72bf55, #70c5a4);
}

.login-body .card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.login-body .card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.login-body .card-signin .card-body {
  padding: 2rem;
}

.login-body .form-signin {
  width: 100%;
}

.login-body .form-signin .btn {
  font-size: 80%;
  border-radius: 10px;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.login-body .form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.login-body .form-label-group input {
  height: auto;
  border-radius: 10px;
}

.login-body .form-label-group>input,
.login-body .form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.login-body .form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.login-body .form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.login-body .form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.login-body .form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.login-body .form-label-group input::-moz-placeholder {
  color: transparent;
}

.login-body .form-label-group input::placeholder {
  color: transparent;
}

.login-body .form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.login-body .form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
/*---------------------LOGIN PAGE ENDS----------------------------*/


/*---------------------REPORT FILTER----------------------------*/


.sidebar .li{
   cursor: pointer;
   padding: 10px 20px;
   border: 1px solid #969696;
}

.sidebar li i{
  /*float: right;*/
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #2c2c2c;
}

.filter-header{
  background: #70c5a4;
  padding: 20px 10px;
}

.filter-header .header-txt{
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.filter-header i{
    display: none;
}

.filter-header .custom-btn{
    float: right;
    color: #ffffff;
    text-decoration: underline;
}

.filter-header .custom-btn.btn:focus{
    box-shadow: unset;
}

.collapse-wrapper{
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #969696;
    position: relative;
}

.collapse-wrapper .collapse .card{
    display: inherit;
}

.collapse-wrapper .btn:focus{
    box-shadow: none;
}
/*---------------------REPORT FILTER ENDS----------------------------*/

.loggedin{
    display: initial;
}

.ticket-header{
    padding-top: 40px;
    text-decoration: underline;
    padding-bottom: 15px;

}

.shadow{
    /*border: 1px solid #e3e6f0;*/
    -webkit-box-shadow: 0px 2px 17px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 17px 2px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 17px 2px rgba(0,0,0,0.55);
    background: #ffffff;
}

.admin-check-wrapper{
    padding: 20px 0;
    border-top: 2px solid #c0c0c0;
}

.admin-check{
    padding-right: 50px;
    line-height: 22px;
}

#select-block{
    display: none;
    padding: 10px 0 0 30px;
}
#reasonTxt{
  display: none;
}

#btnSubmit{
  display: none;
}

/*---------------------------------------------ADMIN CSS ENDS------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/






/*--------------------MEDIA QUERY---------------------------------------*/
@media only screen  and (max-device-width: 680px) 
                       {
/*-------------------------GLOBAL------------------------*/
.sm-tr{
    text-align: right;
}

.sm-tl{
    text-align: left !important;
}

.px-sm-0{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.sm-mt10{
  margin-top: 10px;
}

.sm-pb10{
  padding-bottom: 10px;
}

.d-sm{
    display: inline-block;
}

.d-md{
  display: none;  
}
/*-------------------------GLOBAL ENDS-------------------*/

/*--------------------HEADER---------------------------*/
  .bg-color{
     background-color: #3eb8e9;
     height: 110px;
  }


  .login-icon{
    display: block;
    position: absolute;
    right: 16px;
    top: -98px;
    font-size: 20px;
    color: #ffffff;
  }

  .login-btn{
     display: none;

  }

  .loggedin{
    position: absolute;
    top: -109px;
    right: 24px;
  }

  .loggedin button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

     .open-login{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .loggedin .custom-dropdwn{
    position: absolute !important;
    transform: translate3d(-100px, 32px, 0px) !important;
    top: 0px !important;
     left: 0px !important; 
    
    right: -80px !important;
    background-color: #3eb8e9;
  }

  .loggedin .custom-dropdwn .dropdown-item{
    white-space: unset;
    color: #fff;
    font-weight: 600;
  }

  .loggedin button:active, .show>.btn-outline-primary.dropdown-toggle{
    background-color: #3eb8e9 !important;
    border-color: #3eb8e9 !important;
  }

  .loggedin button.btn-outline-primary {
    background-color: #3eb8e9 !important;
    border-color: #3eb8e9 !important;
    color: #ffffff;
  }
  

  .sm-input{
     height: calc(1.2em + .75rem + 2px);
     border-radius: 2px;
  }

  .sm-image{
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin: 10px 0 10px 0px;
    padding: 0;
  }

  .sm-icon-alert{
    position: absolute;
    top: -97px;
    right: 65px;
    font-size: 20px;
    color: #ffffff
  }

  .sm-icon-language{
    display: none;
    /*position: absolute;
    top: -99px;
    right: 18px;
    font-size: 20px;*/
  }

  .mobile-menu-icon {
    display: inline;
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 20px;
    color: #ffffff;
    z-index: 6;
  }

  .navbar-menu{
    display: none;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 3;
    height: 100%;
  }

  
  .navbar-menu .navbar-nav{
    padding-top: 20px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 15px 20px;
    font-size: 18px;
}


.content-container{
     background-color: #ffffff;
}

/*--------------------HEADER ENDS---------------------------*/

/*--------------------SEARCHLIST-----------------------------*/
.cancel-btn{
     right: 15px !important;
}
/*--------------------SEARCHLIST ENDS------------------------*/

/*--------------------INDEX--------------------------------*/
   .carousel-inner .carousel-item img{
    height: 520px;
   }


   .home-card{
    color: #fff;
    height: 290px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #70c5a4; */
    background-image: linear-gradient(to right, #446eb6 , #3eb8e9);
    margin: 26px 5px;
    border-radius: 2px;
   }

   .home-card h3{
    line-height: 40px;
   }
/*--------------------INDEX ENDS---------------------------*/

/*--------------------USER DETAIL---------------------------*/

.icon-mobile{
    position: absolute;
    right: -15px;
    top: -80px;
    background: #70c5a4;
}

.icon-mobile i{
    display: block; 
    padding: 15px 2px;
}

.tab-bar .nav-tabs .nav-item{
    width: 50%;
}

.user-container .user-detail-container{
    text-align: left !important;
}

.user-detail-container .user-img{
    height: 100px;
    width: 100px;
}

.user-detail-info{
    text-align: left;
    padding-left: 15px !important;
}

.user-detail-info h2{
    font-size: 30px;
}

.user-details p{
     font-weight: 400;
    text-transform: capitalize;
    word-break: break-all;
}
.user-details{
    margin-bottom: 40px;
}

.mobile-code{
   
    line-height: 5px;
    background-color: #eeeeee;
    padding: 5px 0 5px 5px;
}

/*--------------------USER DETAIL ENDS---------------------------*/


/*--------------------MODAL---------------------------*/

.user-details h5 {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
}



.signup-sm{
    width: 100%;
}

.contact{
    width: 100%;
}
/*--------------------MODAL ENDS---------------------------*/


/*--------------------SAVED PROFILE---------------------------*/
.user-list-box {
    width: 100%;
    margin: 20px 0 0 0;
}

.user-list-box .fa-heart {
    font-size: 25px;
    padding: 0 10px 0 10px;
    color: #e83a3a;
    position: absolute;
    top: 21px;
}

.user-list-img {
    width: 40px;
    height: 40px;
    position: static;
    /*margin-left: 65px;*/
}

.user-list ul li p {
    font-size: 14px;
}

.user-list-box .fa-trash-alt {
    position: absolute;
    top: 22px;
    right: 37px;
    font-size: 21px;
}
/*--------------------SAVED PROFILE ENDS---------------------------*/

/*--------------------PROFILE---------------------------*/
.user-tab{
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    margin: 20px 0;
    background-color: #ffffff;
    z-index: 1;
    height: 225px;
}

.user-profile .info> div:nth-of-type(even){
    padding-left: 2px !important;
    word-break: break-all;
}

.address{
   line-height: 18px !important;
}
/*--------------------PROFILE ENDS---------------------------*/

/*--------------------SIGNUP--------------------------------*/
.sign-up-tab ul.form-steps{
   -webkit-box-shadow: 1px 2px 5px 0px rgba(72,72,72,1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(72,72,72,1);
    box-shadow: 1px 2px 5px 0px rgba(72,72,72,1);
}

.mobile-form{
    margin-bottom: 70px !important;
}

.feet{
    margin-bottom: 5px;
}
/*--------------------SIGNUP ENDS---------------------------*/


/*--------------------ZONE--------------------------------*/
.zone{
    margin-top: 10px !important;
}

.zone-img-container{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.zone-info{
    margin-top: 15px;
}

.zone-info p{
    margin-bottom: 5px;
    word-break: break-all;
}
/*--------------------ZONE ENDS---------------------------*/

/*--------------------SCHEMES--------------------------------*/
.schemes{
    margin-top: 10px !important;
}

.schemes .schemes-img-container{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.schemes-info h3{
    margin-top: 15px;
}
/*--------------------SCHEMES ENDS---------------------------*/

/*--------------------FAMILY TREE---------------------------*/
.tree-srch-list{
   height: 180px;
}

.family-profile-img{
    width: 80px;
    height: 72px;
    object-fit: cover;
}

.tree-card .family-info{
    width: 180px;
}

.list-height{
    -webkit-box-shadow: 1px -1px 6px -1px rgba(0,0,0,1);
    -moz-box-shadow: 1px -1px 6px -1px rgba(0,0,0,1);
    box-shadow: 1px -1px 6px -1px rgba(0,0,0,1);
    padding-top: 10px;
}

.tree-card .family-info li{
    text-transform: capitalize !important;
}
/*--------------------FAMILY TREE ENDS---------------------------*/

/*--------------------VIEW AND UPDATE -----------------------------*/
#overview, #basic-info, #contact, #education{
    margin-bottom: 40px;
}

.privacy{
    position: absolute;
    right: 45px;
    font-size: 14px;
}

.edit-input{
    padding: .375rem 5px;
}

.privacy-setting{
    position: relative;
    width: 100%;
    left: unset;
    top: unset;
}

.user-profile .btn{
    padding: 5px;
}
/*--------------------VIEW AND UPDATE ENDS---------------------------*/

/************************ ADMIN *********************************/

.loggedin .btn-mobile{
    width: 100%;
    margin: 10px 0;
}


.loggedin .custom-dropdwn .triangle-up-white{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 18px solid #ffffff;
    position: absolute;
    top: -8px;
    left: 130px;
}

.loggedin .custom-dropdwn .triangle-up-black{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 9px solid #555;
    position: absolute;
    top: -9px;
    left: 128px;
}

.filter-header i{
    color: #ffffff;
    padding-left: 10px;
    display: initial;
}

#filterForm{
  display: none;
}

.info strong{
   padding-right: 10px;
}

.verify-user{
   margin: 10px 0;
}

/************************ ADMIN ENDS *****************************/
 
}

/*-----------------ADMIN LOGIN MEDIA QUERY--------------------*/


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .login-body .form-label-group>label {
    display: none;
  }
  .login-body .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .login-body .form-label-group>label {
    display: none;
  }
  .login-body .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
.searchdata{position: absolute;
    padding: 30px 10px;
    top: 40px;
    width: 100%;
    z-index: 9;
    background: white;
    border-radius: 5px;
    display: none;
    border: 1px solid #00000014;
    box-shadow: 0px 5px 12px #00000070;}
.list-inline-item.searchoption p{    margin: 0px;
}
.btn-warning{color:white;}
.btn-warning:hover{color:white;}
.rpadding{    padding: 20px;
}
.rounded-circle i{width: 8px;
    padding-top: 3px;
    height: 15px;    text-align: center;
    font-size: 9px;}
.bg-light.mobile{border: 1px solid #80808070;
background-color: #f8f9fa!important;
padding: 3px;
border-radius: 3px;}
input[type=number] {
    -moz-appearance: textfield !important;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.label-two{float: right;
    background: #446eb6;
    margin-top: -37px;
    padding: 6px;
    color: white;
    border-radius: 0px 4px 3px 0px;}
    .form-top{padding: 1% 19%}
.cancel-btn{    background: transparent;
    border: none;
    position: absolute;
    right: 60px;
    color: #446eb6;
    top: 6px;
display:none;z-index:9;}
.searchbtn{
    padding: 0px;    border: none;
}
.search-icon{background-color: #446eb6;
    color: #ffffff;
    border: none;}
.search-anchor{    text-align: center;
    cursor: pointer;
    background: #8080801f;}
.invalid{    background-color: #ffdddd!important;
}
.invalid:focus{    background-color: #ffdddd!important;
}
.multiselect-container>li>a>label{padding: 5px 7px!important;}
.maxmin{    border: 1px solid rgb(0 0 0 / 33%);
    background: rgb(128 128 128 / 16%);
    padding: 0px 3px;}
.pagination{float: right;
    padding: 6px 0px;
    border: 1px solid rgb(0 0 0 / 16%);}
.pagination li.active a{    background: rgb(62 184 233);
    color: white;
    padding: 6px;}
    .pagination li a{ 
        padding: 6px;
        color: grey;
        background: rgb(128 128 128 / 15%);
        border: 1px solid rgb(0 0 0 / 15%);}




        .pagination li.active a:hover{ 
           
            color: white!important;
           }
        

    /*.carousel-control-prev i
    {background: #3eb8e9;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    border-radius: 50%;}*/

  /*  .carousel-control-next i
    {background: #3eb8e9;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    border-radius: 50%;}*/

    .dashboardcode-bsmultiselect ul.dropdown-menu{    max-height: 200px;
        overflow: auto;    top: 10px!important;
    }

/*-----------------ADMIN LOGIN MEDIA QUERY ENDS---------------