/*----------------------GLOBAL CSS---------------------------------------*/
.modal-content{
    border: 0px;
}

.modal-content .modal-header{
    background-color: #446eb6;
    text-align: center;  
    margin-bottom: 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}

.modal-content .modal-header .modal-title{
    width: 100%;
}

.modal-content .modal-header .close{
    color: #ffffff;
}
/*----------------------GLOBAL CSS ENDS---------------------------------------*/

/*-----------------------HEADER----------------------------------------------*/
.mobile-menu-icon {
    display: none;
}

#livesearch{
    display: none;
    border: 1px solid rgb(212, 212, 212);
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
    background: #ffffff;
    line-height: 2;
    padding: 10px 10px 10px 30px;
}

#livesearch a{
    color: #000000;
}
.navbar-nav .nav-item .nav-link{
    color: #ffffff;
    padding: 5px 20px;
}

.family-dropdwn{
    left: unset;
}

.navbar-menu a.nav-link.dropdown-toggle:hover{
    color: #ffffff;
}

/*-----------------------HEADER ENDS----------------------------------------------*/


/*-------------CAROUSEL WITH THYUMBNAIL----------------------*/
.carousel-inner .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-container .carousel-control-prev .fas{
    font-size: 30px;
}

.carousel-container .carousel-control-next .fas{
    font-size: 30px;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
}

#custCarousel .carousel-indicators>li {
    width: 100%;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}
#loadergif{    text-align: center;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 9999999;
    background: #ffffff82;
    padding: 15%;}
/*-------------CAROUSEL WITH THYUMBNAIL ENDS----------------------*/

/*-------------NAVBAR MENU----------------------*/
.navbar-menu{
    background: #3eb8e9;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
}
/*-------------NAVBAR MENU NEDS----------------------*/


/*-------------LOGIN POPUP----------------------*/

.loginPopup .otp-label{
    width: 90px;
    font-size: 10px;
    margin-right: 40px;
}

.loginContent .modal-body a.help-link{
    color: #007bff;
}

.loginContent .modal-body a.signup-link{
    font-size: 1rem;
}

/*-------------LOGIN POPUP ENDS----------------------*/

/*-------------LOGIN HELP----------------------*/
.login-help{
    text-align: left;
}
/*-------------LOGIN HELP ENDS----------------------*/


/*-----------------------------SIGNUP SECTION----------------------*/

/*-------------------form------------------------*/
#regForm input.invalid {
  background-color: #ffdddd;
}
#regForm select.invalid {
    background-color: #ffdddd;
  }
  #regForm textarea.invalid {
    background-color: #ffdddd;
  }

#regForm .tab {
  display: none;
}

#regForm #prevBtn {
  background-color: #bbbbbb;
}

.form-steps .step {
  /*background-color: #5c99ff;*/
  padding: 15px 5px 15px 10px;
}

.form-steps .step.active {
  background-color: #5c99ff;
}


/*-------------------form ends------------------------*/
.pic-wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid;
}

.pic-wrapper .profile-pic{
    width: 200px;
    height: 200px;
    opacity: 0;
}

.pic-wrapper .add-icon{
    position: absolute;
    bottom: -12px;
    left: 165px;
    font-size: 45px;
    z-index: 2;
}

/*-------------------------------SIGNUP SECTION ENDS----------------------*/

/*-------------USER DETAIL----------------------------------------------*/
.user-img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.tab-bar{
    background: #3eb8e9;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    margin-top: 10px;
}

.tab-bar .nav-tabs{
    border: none;
}

.tab-bar .nav-tabs .active{
    background-color: #fda619;
    border-color: transparent;
}

.tab-bar .nav-tabs .nav-item{
    position: relative;
}

.tab-bar .nav-tabs .active .triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fda619;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: -20px;
}

.tab-bar .nav-tabs .nav-link{
    color: #000000;
}

.tab-bar .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.user-container{
    background-color: #446eb6;
    background-image: linear-gradient(#446eb6, #3eb8e9);
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.user-details h5{
    margin-bottom: 16px;
}

.user-details h3{
    text-decoration: underline;
}

.user-details p strong{
    float: right;
}

.more-info{
    display: none;
}

/*-------------USER DETAIL ENDS----------------------------------------------*/

/*--------------------------USER PROFILE--------------------------------------*/
.user-tab .nav-tabs {
     border-bottom: unset;
}

.user-tab .nav {
    display: block;
    padding-left: 0;
    margin-bottom: unset; 
    list-style: none;
}

.user-tab .nav-tabs .nav-link.active{
    color: #ffffff;
    background-color: #5c99ff;
    border-color: unset;
}

.user-tab .nav-tabs a{
    color: #000000;
}

.user-profile strong{
     float: right;
}

.user-profile{
    line-height: 40px;
}

.user-profile .info> div:nth-of-type(even) {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
/*------------------------USER PROFILE ENDS------------------------------------*/

/*------------------------SAVED PROFILE------------------------------------*/
.user-list-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: bottom;
    position: static;
    margin-left: 70px;
}

.user-list-box{
    width: 400px;
    padding: 10px;
    border: 1px solid #b7b7b7;
    margin: 20px;
    position: relative;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.user-list ul li p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.user-list-box .fa-heart{ 
    font-size: 30px;
    padding: 0 20px;
    color: #e83a3a;
    position: absolute;
    top: 21px;
}

.user-list-box .fa-trash-alt{
    position: absolute;
    top: 22px;
    right: 80px;
    font-size: 25px;
}
/*------------------------SAVED PROFILE ENDS------------------------------------*/

/*------------------------MODEL------------------------------------*/
.points, .forgot-credential{
    cursor: pointer;
}
.member-id, .email-id, .update-number, .forgot-login{
    display:none;
}

/*.forgot-login{
    display:none;
}*/
/*------------------------MODEL ENDS------------------------------------*/


/*--------------------MEDIA QUERY---------------------------------------*/
@media only screen and (max-width: 600px) {
/*-------------------------GLOBAL------------------------*/
.sm-tr{
    text-align: right;
}

.sm-mt10{
  margin-top: 10px;
}
/*-------------------------GLOBAL ENDS-------------------*/

/*--------------------HEADER---------------------------*/

  .mobile-menu-icon {
    display: inline;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
  }   
  .navbar-menu{
    display: none;
    width: 60%;
    position: absolute;
    top: 40px;
  }  
  .sm-image-wrapper{
     text-align: center;
  }

   .open-login{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
/*--------------------HEADER ENDS---------------------------*/

/*--------------------USER DETAIL---------------------------*/

.icon-mobile{
    position: absolute;
    right: -15px;
    top: -35px;
    background: #70c5a4;
}

.icon-mobile i{
    display: block; 
    padding: 15px 5px;
}

.tab-bar .nav-tabs .nav-item{
    width: 50%;
}

/*--------------------USER DETAIL ENDS---------------------------*/


/*--------------------MODAL---------------------------*/

.user-details h5 {
    margin-bottom: 20px;
}

.user-details{
    margin-bottom: 5px;
}

.signup-sm{
    width: 100%;
}

.contact{
    width: 100%;
}
/*--------------------MODAL ENDS---------------------------*/


/*--------------------SAVED PROFILE---------------------------*/
.user-list-box {
    width: 100%;
    margin: 20px 0 0 0;
}

.user-list-box .fa-heart {
    font-size: 25px;
    padding: 0 10px 0 10px;
    color: #e83a3a;
    position: absolute;
    top: 21px;
}

.user-list-img {
    width: 40px;
    height: 40px;
    position: static;
    margin-left: 65px;
}

.user-list ul li p {
    font-size: 14px;
}

.user-list-box .fa-trash-alt {
    position: absolute;
    top: 22px;
    right: 37px;
    font-size: 21px;
}
/*--------------------SAVED PROFILE ENDS---------------------------*/
 
}