/*----------------------GLOBAL CSS---------------------------------------*/
.modal-content{
    border: 0px;
}

.modal-content .modal-header{
    background-color: #446eb6;
    text-align: center;  
    margin-bottom: 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}

.modal-content .modal-header .modal-title{
    width: 100%;
}

.modal-content .modal-header .close{
    color: #ffffff;
}
/*----------------------GLOBAL CSS ENDS---------------------------------------*/

/*-----------------------HEADER----------------------------------------------*/
#livesearch{
    display: none;
    border: 1px solid rgb(212, 212, 212);
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
    background: #ffffff;
    line-height: 2;
    padding: 10px 10px 10px 30px;
}

#livesearch a{
    color: #000000;
}
.navbar-nav .nav-item .nav-link{
    color: #ffffff;
    padding: 5px 20px;
}

.family-dropdwn{
    left: unset;
}

.navbar-menu a.nav-link.dropdown-toggle:hover{
    color: #ffffff;
}

/*-----------------------HEADER ENDS----------------------------------------------*/


/*-------------CAROUSEL WITH THYUMBNAIL----------------------*/
.carousel-inner .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-container .carousel-control-prev .fas{
    font-size: 30px;
}

.carousel-container .carousel-control-next .fas{
    font-size: 30px;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
}

#custCarousel .carousel-indicators>li {
    width: 100%;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

/*-------------CAROUSEL WITH THYUMBNAIL ENDS----------------------*/

/*-------------NAVBAR MENU----------------------*/
.navbar-menu{
    background: #3eb8e9;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
}
/*-------------NAVBAR MENU NEDS----------------------*/


/*-------------LOGIN POPUP----------------------*/

.loginPopup .otp-label{
    width: 90px;
    font-size: 10px;
    margin-right: 40px;
}

.loginContent .modal-body a.help-link{
    color: #007bff;
}

.loginContent .modal-body a.signup-link{
    font-size: 1rem;
}

/*-------------LOGIN POPUP ENDS----------------------*/

/*-------------LOGIN HELP----------------------*/
.login-help{
    text-align: left;
}
/*-------------LOGIN HELP ENDS----------------------*/


/*-----------------------------SIGNUP SECTION----------------------*/

/*-------------------form------------------------*/
#regForm input.invalid {
  background-color: #ffdddd;
}
#regForm select.invalid {
    background-color: #ffdddd;
  }
  #regForm textarea.invalid {
    background-color: #ffdddd;
  }

#regForm .tab {
  display: none;
}

#regForm #prevBtn {
  background-color: #bbbbbb;
}

.form-steps .step {
  /*background-color: #5c99ff;*/
  padding: 15px 5px 15px 10px;
}

.form-steps .step.active {
  background-color: #5c99ff;
}


/*-------------------form ends------------------------*/
.pic-wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid;
}

.pic-wrapper .profile-pic{
    width: 200px;
    height: 200px;
    opacity: 0;
}

.pic-wrapper .add-icon{
    position: absolute;
    bottom: -12px;
    left: 165px;
    font-size: 45px;
    z-index: 2;
}

/*-------------------------------SIGNUP SECTION ENDS----------------------*/

/*-------------USER DETAIL----------------------------------------------*/
.user-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.tab-bar{
    background: #3eb8e9;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    box-shadow: 0px 2px 5px 0px rgba(110,96,110,1);
    margin-top: 10px;
}

.tab-bar .nav-tabs{
    border: none;
}

.tab-bar .nav-tabs .nav-link{
    color: #000000;
}

.user-container{
    background-color: #446eb6;
    background-image: linear-gradient(#446eb6, #3eb8e9);
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-details h5{
    margin-bottom: 16px;
}

.user-details h3{
    text-decoration: underline;
}

.user-details p strong{
    float: right;
}

/*-------------USER DETAIL ENDS----------------------------------------------*/

/*--------------------------USER PROFILE--------------------------------------*/
.user-tab .nav-tabs {
     border-bottom: unset;
}

.user-tab .nav {
    display: block;
    padding-left: 0;
    margin-bottom: unset; 
    list-style: none;
}

.user-tab .nav-tabs .nav-link.active{
    color: #ffffff;
    background-color: #5c99ff;
    border-color: unset;
}

.user-tab .nav-tabs a{
    color: #000000;
}

.user-profile strong{
     float: right;
}

.user-profile{
    line-height: 40px;
}

.user-profile .info> div:nth-of-type(even) {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
/*------------------------USER PROFILE ENDS------------------------------------*/

/*------------------------SAVED PROFILE------------------------------------*/
.user-list-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: bottom;
}

.user-list-box{
    width: 400px;
    padding: 10px;
    border: 1px solid;
    margin: 20px;
    position: relative;
}

.user-list ul li p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.user-list-box .fa-heart{ 
    font-size: 40px;
    padding: 0 20px;
    color: red;
}

.user-list-box .fa-trash-alt{
    position: absolute;
    top: 22px;
    right: 80px;
    font-size: 30px;
}
/*------------------------SAVED PROFILE ENDS------------------------------------*/

/*------------------------MODEL------------------------------------*/
.forgot-id, .forgot-credential{
    cursor: pointer;
}
.member-id{
    display:none;
}

.forgot-login{
    display:none;
}
/*------------------------MODEL ENDS------------------------------------*/